<%= link_to "<< Back", teachers_admin_group_assignments_path, class: "btn btn-primary btn-lg" %>

<h2>New <%= "#{params[:type].capitalize}-Group assignment"%></h2>
<%= simple_form_for @object, url: admin_group_assignments_path, method: :post do |f| %>

	<% if @object.class == GroupTeacher %>
		<%= f.input :teacher_id, collection: @teachers.map { |t| ["#{t.last_name} #{t.first_name}", t.id] }%>
  	<%= f.input :group_id, collection: @groups.map { |g| ["#{g.name}", g.id] } %>
	<% end %>

	<%= f.button :submit, "Create" %>

<% end %>

<small>*Have in mind that you can't add teacher twice to the same group</small>