<div class="container">	
	<header>
	  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
		    <ul class="nav navbar-nav col-md-12">
		    	<li><%= link_to "", '#', class: "glyphicon glyphicon-home", id: "logo" %></li>
				  <li class="goright"><%= link_to 'Profil', '#', :class => 'navbar-link' %></li>
				  <li class="goright"><%= link_to "Wyloguj", '#', :class => 'navbar-link'  %></li>
				  <li class="goright"><%= link_to "Zaloguj", '#', :class => 'navbar-link'  %></li>
					<li class="goright"><%= link_to "Strona Glowna", root_path %></li>
		    </ul>
	  </nav>
	</header>

</div>